astroid==2.9.3
autopep8==1.6.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
defusedxml==0.7.1
docopt==0.6.2
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==3.3
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
lazy-object-proxy==1.7.1
MarkupSafe==2.0.1
mccabe==0.6.1
platformdirs==2.4.1
psycopg2==2.9.3
pycodestyle==2.8.0
pylint==2.12.2
python-dotenv==0.19.2
requests==2.27.1
SQLAlchemy==1.4.31
toml==0.10.2
urllib3==1.26.8
Werkzeug==2.0.2
wrapt==1.13.3
yarg==0.1.9
