h3,
p {
  margin-top: 5px;
  margin-bottom: 5px;
}

table.profile-table td {
  padding: 4px;
}

table.profile-table th {
  padding-right: 10px;
}

table.profile-table td:first-child {
  padding-right: 10px;
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-areas: "counts sorted_tags";
  grid-template-columns: 50% auto;
}

.grid-container-own-profile {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "counts   sorted_tags"
    "counts   sorted_tags"
    "settings sorted_tags"
    "import   sorted_tags";
  grid-template-columns: 50% auto;
}

.counts {
  grid-area: counts;
}
.sorted_tags {
  grid-area: sorted_tags;
}
.settings {
  grid-area: settings;
}
.import {
  grid-area: import;
}

.settings table {
  border-style: none;
}
.settings td {
  padding-right: 10px;
  background-color: white;
}

/* Tags */
.sorted_tags p {
  margin-top: 10px;
  margin-bottom: 7px;
}
.sorted_tags p a.status {
  align-items: center;
  text-decoration: none;
  border-style: solid;
  border-color: #aaa;
  border-radius: 5px;
  border-width: 2px;
  padding: 1px 3px;
  margin-right: 5px;
  color: #000;
}
.sorted_tags p a.status:hover {
  background-color: #eef;
}
.sorted_tags p a.selected {
  color: #00f !important;
  border-color: #00f !important;
}

.table-fix-head {
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  margin-bottom: 5px;
  overflow-x: hidden;
  border-color: #99bbff;

  width: 100%;
  overflow-y: auto;
  max-height: 500px;
}
.table-fix-head thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}
.table-fix-head table {
  width: 100%;
  border-style: none !important;
}
