table {
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr {
  vertical-align: middle;
}

.a {
  width: 0px;
}

.c {
  text-align: center;
  width: 70px;
}

.d {
  text-align: center;
  width: 100px;
}

a.enabled {
  color: #000;
  text-decoration: none;
  padding-right: 5px;
}

a.disabled {
  color: #aaa;
  text-decoration: none;
  padding-right: 5px;
}

.pages {
  margin-top: 5px;
}
