.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 25% 73%;
}

table.relations {
  width: 100%;
}

.a {
  width: 0px;
}

.c {
  text-align: center;
  width: 60px;
}

.padded-table td {
  padding: 5px;
}

table.tags {
  width: 225px;
}
