.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto;
}

.grid-content {
  border-style: solid;
  border-radius: 10px;
  text-align: center;
}

.grid-content a {
  color: #1e5cbe;
  text-decoration: none;
  padding: 16px;
}
