h1 {
  margin-top: 7px;
}

tr:nth-child(even) {
  background-color: #ccddff;
}

th {
  z-index: 0;
  background: #99bbff;
}

table {
  border-style: solid;
  border-color: #99bbff;
  border-collapse: collapse;
}

/* Hide up and down buttons from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
