body {
  margin: 0;
}

.content {
  margin: auto;
  max-width: 60em;
  min-height: calc(100vh - 150px);
  margin-top: 30px;
  padding: 20px;
}

.notifications {
  position: fixed;
  right: 20px;
  top: 67px;
  border-radius: 15px;
  background-color: white;
  border-style: solid;

  /* Hiding animation */
  /* Firefox */
  -moz-animation: cssAnimation 0s ease-in 3s forwards;
  /* Safari and Chrome */
  -webkit-animation: cssAnimation 0s ease-in 3s forwards;
  /* Opera */
  -o-animation: cssAnimation 0s ease-in 3s forwards;

  animation: cssAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.notifications ul {
  padding: 0px 15px;
  list-style: none;
}
.notifications ul .error {
  color: red;
}
@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    border-style: none;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
    border-style: none;
  }
}

.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 30px;
  height: 20px;
}

ul.navbar {
  z-index: 10;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  padding: 14px 16px;
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
}

ul.navbar li a:hover {
  background-color: #111;
}
