.grid-container {
  display: grid;
  grid-template-areas:
    "h1     links"
    "submit links";
  grid-template-columns: auto 530px;
  margin-bottom: 5px;
  align-items: end;
}

.h1 {
  grid-area: h1;
}

.submit {
  grid-area: submit;
}

/* All, Completed, Watching etc. buttons */
.links {
  grid-area: links;
  text-align: right;
  margin-bottom: 3px;
}
.links p {
  margin-top: 0px;
  margin-bottom: 8px;
}
.links p mark {
  background-color: #fff;
  white-space: nowrap;
}
.links p strong {
  color: blue;
}
.links a.status {
  align-items: center;
  text-decoration: none;
  border-style: solid;
  border-color: #aaa;
  border-radius: 5px;
  border-width: 2px;
  padding: 1px 3px;
  color: #000;
}
.links a.status:hover {
  background-color: #eef;
}
.links a.selected {
  color: #00f !important;
  border-color: #00f !important;
}

/* List */
table {
  width: 100%;
}
tr {
  vertical-align: middle;
}
tr > :nth-child(1) {
  width: 0px;
}
tr > :nth-child(3) {
  width: 100px;
}
tr > :nth-child(4) {
  text-align: center;
  width: 133px;
}
tr > :nth-child(5) {
  text-align: center;
  width: 75px;
}
tr > :nth-child(6) {
  width: 75px;
}
