table {
  width: 100%;
}

tr {
  vertical-align: middle;
}

.a {
  width: 0px;
}

.c {
  width: 100px;
}

.d {
  text-align: center;
  width: 133px;
}

.e {
  text-align: center;
  width: 75px;
}

.f {
  width: 75px;
}

.links {
  text-align: right;
}
.links a {
  align-items: center;
  text-decoration: none;
  color: #000;
}

.links .selected {
  color: #00f;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 5px 0px;
}
