h3,
p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "counts   sorted_tags"
    "counts   sorted_tags"
    "settings sorted_tags"
    "import   sorted_tags";
  grid-template-columns: 50% 50%;
}

.counts {
  grid-area: counts;
}
.sorted_tags {
  grid-area: sorted_tags;
}
.settings {
  grid-area: settings;
}
.import {
  grid-area: import;
}

.sorted_tags p a {
  text-decoration: none;
  color: black;
}

.sorted_tags p a.selected {
  text-decoration: none;
  color: #00f;
}

.tableFixHead {
  overflow-y: auto;
  max-height: 500px;
  width: fit-content;
  border: solid;
  border-color: #99bbff;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.tableFixHead table {
  border-style: none !important;
}
