h3,
p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "counts tag_counts"
    "counts tag_counts"
    "settings tag_counts"
    "import tag_counts";
}

.counts {
  grid-area: counts;
}
.tag_counts {
  grid-area: tag_counts;
}
.settings {
  grid-area: settings;
}
.import {
  grid-area: import;
}

.tableFixHead {
  overflow-y: auto;
  height: 500px;
  width: fit-content;
  border: solid;
  border-color: #ccf;
}

.tableFixHead thead th {
  position: sticky;
  z-index: 1;
}

.tableFixHead table {
  border-style: none !important;
}
