table {
  border-style: none !important;
}

tr:nth-child(even) {
  background-color: white !important;
}

tr > :nth-child(1) {
  width: 170px;
}

input[type="text"],
input[type="password"] {
  padding: 6px !important;
}
