table {
  width: 100%;
}

tr {
  vertical-align: middle;
}

.a {
  width: 0px;
}

.c {
  text-align: center;
  width: 70px;
}

.d {
  text-align: center;
  width: 100px;
}

a.enabled {
  color: #000;
  text-decoration: none;
  padding-right: 5px;
}

a.disabled {
  color: #aaa;
  text-decoration: none;
  padding-right: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 5px 0px;
  row-gap: 5px;
}

.search {
  text-align: right;
  padding-right: 2px;
}

.clear {
  text-decoration: none;
  color: #000;
}

form label {
  display: inline-block;
  width: 65px;
}
