{% extends "layout.html" %}
{% block title %}{{anime.title}}{% endblock %}
{% block content %}

<!-- Anime -->
{% if anime %}
<p style="float: left;">
    <img alt="Anime picture" src="{{anime.picture}}">
</p>
<h1>{{anime.title}}</h1>

{% if session.user_id and user_data.in_list %}
<p>Episodes: {{user_data.episodes}}/{{anime.episodes}}</p>
{% else %}
<p>Episodes: {{anime.episodes}}</p>
{% endif %}

{% if anime.score %}<p>Score: {{anime.score}}</p>{% endif %}

<!-- List data-->
{% if session.user_id %}
<form method="POST">
    Score:
    <select name="score">
        <option value="None" {% if not user_data.score %} selected {% endif %}></option>
        <option value="10" {% if user_data.score==10 %} selected {% endif %}>10 Masterpiece</option>
        <option value="9" {% if user_data.score==9 %} selected {% endif %}>9 Great</option>
        <option value="8" {% if user_data.score==8 %} selected {% endif %}>8 Very good</option>
        <option value="7" {% if user_data.score==7 %} selected {% endif %}>7 Good</option>
        <option value="6" {% if user_data.score==6 %} selected {% endif %}>6 Fine</option>
        <option value="5" {% if user_data.score==5 %} selected {% endif %}>5 Average</option>
        <option value="4" {% if user_data.score==4 %} selected {% endif %}>4 Bad</option>
        <option value="3" {% if user_data.score==3 %} selected {% endif %}>3 Very bad</option>
        <option value="2" {% if user_data.score==2 %} selected {% endif %}>2 Horrible</option>
        <option value="1" {% if user_data.score==1 %} selected {% endif %}>1 Appaling</option>
    </select>
    <br />

    {% if not user_data.in_list %}
    <input type="submit" name="submit" value="Add to list"></input>

    {% else %}
    Times watched: <input type="number" name="times_watched" value={{user_data.times_watched}}>
    <br />
    <input type="submit" name="submit" value="Submit changes" /></input>
    <br />
    <br />
    <input type="submit" name="submit" value="Remove from list" /></input>
    {% endif %}
</form>
{% endif %}


{% if related_anime %}
<h2>Related anime</h2>
{% for anime in related_anime %}
<hr />
<img alt="Anime thumbnail" src="{{anime.thumbnail}}" width=50 height=70>
<a href="/anime/{{anime.id}}">{{anime.title}}</a>
{% if anime.score %}Score: {{anime.score}}{% endif %}
{% endfor %}
<hr />
{% endif %}

<br style="clear: left;" />

<!-- No anime found -->
{% else %}
<h1>No anime with this id</h1>
{% endif %}

{% endblock %}