{% extends "layout.html" %}
{% block title %}Animes{% endblock %}
{% block content %}

<h1>Animes</h1>

<!-- Search -->
<form>
    Search: <input type="text" value="{{query}}" name="query" />
    <input type="submit" value="Submit" />
</form>

<!-- Previous and next page -->
<a href="{{prev_url}}">Previous page</a>
<a href="{{next_url}}">Next page</a>

<!-- Animes -->
{% for anime in animes %}
<hr />
<img alt="Anime thumbnail" src={{anime.thumbnail}} width=50 height=70>
<a href="/anime/{{anime.id}}">{{anime.title}}</a>

<!-- List status -->
{% if session.user %}
{% if anime.id not in list %}
<form style="float: right;" action="{{current_url}}" method="POST">
    <input type="hidden" value={{anime.id}} name="anime_id" />
    <button type="submit">Add to list</button>
</form>
{% else %}
<p style="float: right;">In list </p>
{% endif %}
{% endif %}
{% endfor %}

<!-- No animes found -->
{% if animes | length == 0 %}
<hr />
<p><strong>No animes found</strong></p>
{% endif %}


<!-- Previous and next page -->
<hr />
<a href="{{prev_url}}">Previous page</a>
<a href="{{next_url}}">Next page</a>

{% endblock %}