<!DOCTYPE html>
<html>

<head>
    <title>AnimeList - {% block title %}{% endblock %}</title>
    {% block stylesheet %}{% endblock %}
    <link rel="stylesheet" href="/static/layout.css">
    <link rel="stylesheet" href="/static/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/topanime">Top anime</a></li>

            {% if session.username %}
            <li><a href="/list/{{session.username | urlencode}}">List</a></li>
            <li><a href="/related">Related anime</a></li>
            <li style="float:right"><a href="/logout">Logout</a></li>
            <li style="float:right"><a href="/profile/{{session.username | urlencode}}">{{session.username}}</a></li>

            {% else %}
            <li style="float:right"><a href="/login">Log in</a></li>
            <li style="float:right"><a href="/register">Register</a></li>
            {% endif %}
        </ul>
    </div>

    <!-- Notifications-->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="notifications">
        <ul>
            {% for category, message in messages %}
            <li class="{{category}}">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        <a href="https://github.com/bntti/AnimeList" target="_blank">Source code</a>
    </div>
</body>

</html>