{% extends "layout.html" %}
{% block title %}List{% endblock %}
{% block content %}

<h1>List</h1>

<!-- List -->
<form method="POST">
    <input type="submit" value="Submit changes" />

    {% for anime in list %}
    <hr />
    <!-- Anime information -->
    <img alt="Anime thumbnail" src="{{anime.thumbnail}}" width=50 height=70>
    <a href="/anime/{{anime.id}}">{{anime.title}}</a>
    Watched: {{anime.watched_episodes}}/{{anime.episodes}}

    <!-- Score selection -->
    Score:
    <select name="rate_{{anime.id}}">
        <option value="None" {% if not anime.rating %} selected {% endif %}></option>
        <option value="10" {% if anime.rating==10 %} selected {% endif %}>10 Masterpiece</option>
        <option value="9" {% if anime.rating==9 %} selected {% endif %}>9 Great</option>
        <option value="8" {% if anime.rating==8 %} selected {% endif %}>8 Very good</option>
        <option value="7" {% if anime.rating==7 %} selected {% endif %}>7 Good</option>
        <option value="6" {% if anime.rating==6 %} selected {% endif %}>6 Fine</option>
        <option value="5" {% if anime.rating==5 %} selected {% endif %}>5 Average</option>
        <option value="4" {% if anime.rating==4 %} selected {% endif %}>4 Bad</option>
        <option value="3" {% if anime.rating==3 %} selected {% endif %}>3 Very bad</option>
        <option value="2" {% if anime.rating==2 %} selected {% endif %}>2 Horrible</option>
        <option value="1" {% if anime.rating==1 %} selected {% endif %}>1 Appaling</option>
    </select>

    <!-- Remove from list button -->
    Remove from list
    <input type="checkbox" name="remove_{{anime.id}}" style="width:30px; height:30px;">
    {% endfor %}

    <hr />
    <input type="submit" value="Submit changes" />
</form>

<hr />
<form method="POST" enctype="multipart/form-data">
    Import from myanimelist (.xml file):
    <br />
    <input type="file" name="mal_import" accept=".xml">
    <br />
    <input type="submit" value="Submit file" />
</form>

{% endblock %}