{% extends "layout.html" %}
{% block title %}{{username}}'s List{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/list.css">
{% endblock %}

{% block content %}


<div class="grid-container">
    <div class="h1">
        <h1>{{username}}'s List</h1>
    </div>
    <div class="submit">
        {% if list_data | length > 0 and own_profile %}
        <input style="align-self: flex-end" form="listform" type="submit" value="Submit changes" />
        {% endif %}
    </div>
    <div class="links">
        <p>
            Showing {{list_data | length}} anime
            {% if tag %}
            with tag <strong>{{tag}}</strong>
            <a href="{{status_url}}">Clear tag</a>
            {% endif %}
        </p>
        <a class="status {{'selected' if status=='All'}}" href="{{base_url}}">All</a>
        <a class="status {{'selected' if status=='Completed'}}" href="{{base_url}}status=Completed">Completed</a>
        <a class="status {{'selected' if status=='Watching'}}" href="{{base_url}}status=Watching">Watching</a>
        <a class="status {{'selected' if status=='On-Hold'}}" href="{{base_url}}status=On-Hold">On-Hold</a>
        <a class="status {{'selected' if status=='Dropped'}}" href="{{base_url}}status=Dropped">Dropped</a>
        <a class="status {{'selected' if status=='Plan to Watch'}}" href="{{base_url}}status=Plan%20to%20Watch">
            Plan to Watch
        </a>
    </div>
</div>
{% if list_data | length > 0 %}
<form id="listform" method="POST">
    <table>
        <thead>
            <tr>
                <th class="a"></th>
                <th class="b">Title</th>
                <th class="c">Progress</th>
                <th class="d">Status</th>
                <th class="e">Score</th>
                {% if own_profile %}
                <th class="f">Remove</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for anime in list_data %}
            <tr>
                <td class="a">
                    {% if anime.thumbnail %}
                    <img src="{{anime.thumbnail}}" width=50 height=70>
                    {% else %}
                    <img src="https://cdn.myanimelist.net/images/qm_50.gif" width=50 height=70>
                    {% endif %}
                </td>
                <td class="b">
                    <a href="/anime/{{anime.id}}">{{anime.title}}</a>
                </td>
                <td class="c">
                    {% if own_profile %}
                    <input style="width:35px" type="number" name="episodes_watched_{{anime.id}}"
                        value={{anime.episodes_watched}} min="0" max="{{anime.episodes}}">
                    / {{anime.episodes}}
                    {% else %}
                    <div style="text-align:center">
                        {{anime.episodes_watched}} / {{anime.episodes}}
                    </div>
                    {% endif %}
                </td>
                <td class="d">
                    {% if own_profile %}
                    <select name="status_{{anime.id}}">
                        <option value="Completed" {% if anime.status=="Completed" %} selected {% endif %}>
                            Completed
                        </option>
                        <option value="Watching" {% if anime.status=="Watching" %} selected {% endif %}>
                            Watching
                        </option>
                        <option value="On-Hold" {% if anime.status=="On-Hold" %} selected {% endif %}>
                            On-Hold
                        </option>
                        <option value="Dropped" {% if anime.status=="Dropped" %} selected {% endif %}>
                            Dropped
                        </option>
                        <option value="Plan to Watch" {% if anime.status=="Plan to Watch" %} selected {% endif %}>
                            Plan to Watch
                        </option>
                    </select>
                    {% else %}
                    {{anime.status}}
                    {% endif %}
                </td>
                <td class="e">
                    {% if own_profile %}
                    <select name="score_{{anime.id}}">
                        <option value="None" {% if not anime.score %} selected {% endif %}></option>
                        <option value="10" {% if anime.score==10 %} selected {% endif %}>10</option>
                        <option value="9" {% if anime.score==9 %} selected {% endif %}>9</option>
                        <option value="8" {% if anime.score==8 %} selected {% endif %}>8</option>
                        <option value="7" {% if anime.score==7 %} selected {% endif %}>7</option>
                        <option value="6" {% if anime.score==6 %} selected {% endif %}>6</option>
                        <option value="5" {% if anime.score==5 %} selected {% endif %}>5</option>
                        <option value="4" {% if anime.score==4 %} selected {% endif %}>4</option>
                        <option value="3" {% if anime.score==3 %} selected {% endif %}>3</option>
                        <option value="2" {% if anime.score==2 %} selected {% endif %}>2</option>
                        <option value="1" {% if anime.score==1 %} selected {% endif %}>1</option>
                    </select>
                    {% else %}
                    {{anime.score}}
                    {% endif %}
                </td>
                {% if own_profile %}
                <td class="f">
                    <div style="text-align:center">
                        <input type="checkbox" name="remove_{{anime.id}}" style="width:30px; height:30px;">
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if own_profile %}
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}" />
    <input style="margin-top: 5px" type="submit" value="Submit changes" />
</form>
{% endif %}
{% else %}
<p><strong>No anime Found</strong></p>
{% endif %}

{% endblock %}