{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/login.css">
{% endblock %}

{% block content %}

<h1>Log in</h1>

<form action="/login" method="POST">
    <table>
        <tbody>
            <tr>
                <td class="a"><label for="username">Username:</label></td>
                <td><input id="username" type="text" name="username" value="{{username}}" placeholder="Username" /></td>
            </tr>
            <tr>
                <td class="a"><label for="username">Password:</label></td>
                <td>
                    <input id="password" type="password" name="password" value="{{password}}" placeholder="Password" />
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Submit" />
</form>

{% endblock %}