{% extends "layout.html" %}
{% block title %}{{username}}'s Profile{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/profile.css">
{% endblock %}

{% block content %}

<h1>{{username}}'s Profile</h1>

<div {% if own_profile %} class="grid-container-own-profile" {% else %} class="grid-container" {% endif %}>
    <div class="counts">
        <h3>Anime watched</h3>
        <p>Total anime watched: {{counts.total}}</p>
        <p><a href="{{list_url}}">View list</a></p>
        <table>
            <thead>
                <th>Status</th>
                <th>Count</th>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{{list_url}}?status=Completed">Completed</a></td>
                    <td>{{counts.completed}}</td>
                </tr>
                <tr>
                    <td><a href="{{list_url}}?status=Watching">Watching</a></td>
                    <td>{{counts.watching}}</td>
                </tr>
                <tr>
                    <td><a href="{{list_url}}?status=On-Hold">On-Hold</a></td>
                    <td>{{counts.on_hold}}</td>
                </tr>
                <tr>
                    <td><a href="{{list_url}}?status=Dropped">Dropped</a></td>
                    <td>{{counts.dropped}}</td>
                </tr>
                <tr>
                    <td><a href="{{list_url}}?status=Plan%20to%20Watch">Plan to Watch</a></td>
                    <td>{{counts.plan_to_watch}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="sorted_tags">
        <h3>Tags</h3>
        {% if sorted_tags %}
        <p>
            <a {% if tags!="top" %} class="selected" {% endif %} href="/profile/{{username | urlencode}}">
                Most watched tags
            </a>
            <a {% if tags=="top" %} class="selected" {% endif %} href="/profile/{{username | urlencode}}?tags=top">
                Top scored tags
            </a>
        </p>
        <div class="tableFixHead">
            <table>
                <thead>
                    <tr>
                        <th>Tag</th>
                        {% if tags != "top" %}
                        <th>Count</th>
                        {% else %}
                        <th>Score</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for tag, tag_data in sorted_tags %}
                    <tr>
                        <td><a href="{{list_url}}?tag={{tag | urlencode}}">{{tag}}</a></td>
                        <td>{{tag_data}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>No anime in list</p>
        {% endif %}
    </div>
    {% if own_profile %}
    <div class="settings">
        <h3>Settings</h3>
        <form method="POST">
            <p>
                <label for="show hidden">Show hidden anime:</label>
                <input id="show hidden" type="checkbox" name="show hidden" {% if session.show_hidden %} checked {% endif
                    %}>
            </p>
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
            <input type="submit" value="Save settings">
        </form>
    </div>
    <div class="import">
        <form method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}" />

            <h3>Import data from myanimelist</h3>
            <p><a href="https://myanimelist.net/panel.php?go=export" target="_blank">Link to export page</a></p>
            <p><input type="file" name="mal_import" accept=".xml"></p>
            <p><input type="submit" value="Submit file" /></p>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}