{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}

<h1>Register</h1>

<!-- Error message -->
{% if error != "" %}
<p>{{error}}</p>
{% endif %}

<!-- Register form -->
<form action="/register" method="POST">
  Username:
  <input type="text" name="username" />
  <br />
  Password:
  <input type="password" name="password1" />
  <br />
  Repeat password:
  <input type="password" name="password2" />
  <br />
  <input type="submit" value="Submit" />
</form>

{% endblock %}