.grid-container {
  display: grid;
  gap: 30px;
  grid-template-columns: 225px auto;
}

p {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 2px;
}

/* Anime data */
table.anime-data td {
  padding: 5px;
}

/* Related anime */
table.relations {
  width: 100%;
}
table.relations tr > :nth-child(1) {
  width: 0px;
}
table.relations tr > :nth-child(3) {
  text-align: center;
  width: 60px;
}

/* Tags */
table.tags {
  width: 225px;
}
