/* ----- global styles ----- */
h1 {
  margin-top: 7px;
}

.table-container {
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  margin-bottom: 5px;
  overflow: hidden;
  width: fit-content;
  border-color: #99bbff;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: #ccddff;
}
th {
  z-index: 0;
  background: #99bbff;
}

a {
  color: #00d;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button,
input[type="submit"],
input[type="number"],
input[type="text"],
input[type="password"],
input[type="file"]::file-selector-button,
select {
  background-color: white;
  border-style: solid;
  border-color: #00f;
  border-radius: 5px;
  border-width: 2px;
  padding: 3px 5px;
}
button,
input[type="submit"],
input[type="file"]::file-selector-button,
select {
  color: #00f;
}

button:hover,
input[type="submit"]:hover,
input[type="file"]::file-selector-button:hover,
select:hover {
  background-color: #eef;
}
input:disabled {
  color: #aaf;
  border-color: #aaf;
  background-color: #eef;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  color: #00f;
  border: 2px solid #00f;
  border-radius: 5px;
  display: grid;
  place-content: center;
  margin: auto !important;
  width: 27px;
  height: 27px;
}
input[type="checkbox"]:disabled {
  color: #aaf;
  border-color: #aaf;
  background-color: #eef;
}
input[type="checkbox"]:hover {
  background-color: #eef;
}
input[type="checkbox"]::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 5px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 100px 100px #00f;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:checked {
  background-color: #bbf;
}
input[type="checkbox"]:checked:hover {
  background-color: #aaf;
}

/* Hide up and down buttons from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* ----- Styles for layout.html ----- */

/* Change style if browser window is wide enough */
@media only screen and (min-width: 64em) {
  body {
    background: linear-gradient(
      20deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(50, 170, 255, 1) 100%
    );
  }
  .content-container {
    padding-top: 70px !important;
    padding-bottom: 23px;
    min-height: calc(100vh - 173px) !important;
  }
  .content {
    background-color: white;
    border-radius: 15px;
  }
  .footer {
    background-color: #fff1 !important;
  }
  .footer a {
    color: #bbb;
  }
}

body {
  margin: 0;
}

/* Content */
.content-container {
  padding-top: 30px;
  min-height: calc(100vh - 110px);
}
.content {
  max-width: 60em;
  margin: auto;
  padding: 20px;
}

/* Notification(s) */
.notifications {
  position: fixed;
  right: 20px;
  top: 67px;
  border-radius: 15px;
  background-color: white;
  border-style: solid;
  border-color: #000;

  /* Hiding animation */
  -moz-animation: cssAnimation 0s ease-in 3s forwards; /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 3s forwards; /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 3s forwards; /* Opera */

  animation: cssAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.notifications ul {
  padding: 0px 15px;
  list-style: none;
}
.notifications ul .error {
  color: red;
}
@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    border-style: none;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
    border-style: none;
  }
}

/* Footer */
.footer {
  background-color: #eee;
  text-align: center;
  padding: 30px;
  height: 20px;
}
.footer a {
  text-decoration: none;
}

/* Navbar */
ul.navbar {
  z-index: 10;
  background-color: #282f33;
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.navbar li {
  float: left;
}
ul.navbar li a {
  padding: 14px 16px;
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
}
ul.navbar li a:hover {
  background-color: #111;
}
