.grid-container {
  display: grid;
  grid-template-areas:
    "h1    query"
    "pages query";
  grid-template-columns: auto auto;
  margin-bottom: 5px;
  row-gap: 5px;
  align-items: end;
}
.h1 {
  grid-area: h1;
}
.pages {
  grid-area: pages;
}

/* Query */
.query {
  grid-area: query;
  text-align: right;
  padding-right: 2px;
}
.query table {
  width: fit-content;
  float: right;
}
.query td {
  padding: 5px;
}
.query th {
  text-align: center;
}
.query input[type="text"] {
  width: 150px;
}

/* Anime */
table.anime {
  width: 100%;
}
.anime tr > :nth-child(1) {
  width: 0px;
}
.anime tr > :nth-child(3) {
  text-align: center;
  width: 70px;
}
.anime tr > :nth-child(4) {
  text-align: center;
  width: 100px;
}

a.enabled {
  color: #000;
  text-decoration: none;
  padding-right: 5px;
}
a.disabled {
  color: #aaa;
  text-decoration: none;
  padding-right: 5px;
}
